#showcase{
    padding: 3.5rem
}

.card-text{
    text-align: center;
}

#intro {
    padding-top: 3.5rem;
}

footer{
    padding-top: 3.5rem;
}
img {
  width: 100%;
  height: auto;
  max-width: 20 px;
}
#TitleHeader{
    padding-left: .5rem;
}
.slider_image{
    width: 100%;
    hieght:auto;
}
