#showcase{
    padding: 3.5rem
}

.card-text{
    text-align: center;
}

#intro {
    padding-top: 3.5rem;
}

footer{
    padding-top: 3.5rem;
}
img {

  height: 120px;
  width: auto;

}
#TitleHeader{
    padding-left: .5rem;
}
.slider_image{
    width: 100%;
    hieght:auto;
}




.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url(../img/Test.jpg);

  /* Set a specific height */
  height: 1000px;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
